* {
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-main {
    margin: 163px 0 0 123px;
    display: inline-block;
}

header {
    margin: 47px 0 0 42px;
}

.link-header {
    color: #17233D;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.875px;
    margin-right: 36px;
    cursor: pointer;
}

.button-header {
    width: 124px;
    height: 51px;
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    cursor: pointer;
    line-height: normal;
    letter-spacing: 1px;
}

.link-main {
    color: #6FBF44;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;
}

h1 {
    color: #161A49;
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.596px;
}

p {
    color: #4B505A;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    width: 493px;
    letter-spacing: 0.5px;
    margin-top: 47px;
    margin-bottom: 55px;
}

div {
    display: inline-block;
    margin-left: 85px;
    width: 493px;
}